* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --checked: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  --bright-blue: hsl(220, 98%, 61%);
}

.active {
  color: var(--bright-blue);
}

body {
  transition: 0.5s ease;

  --background: hsl(0, 0%, 98%);
  --text: hsl(235, 19%, 35%);
  --footer-text: hsl(229, 14%, 15%);
  --dark-grayish-blue: hsl(236, 9%, 37%);
  --task-input-background: hsl(0, 0%, 87%);
}

body.dark {
  transition: 0s;
  background: var(--background);

  --background: hsl(235, 21%, 11%);
  --task-background: hsl(235, 24%, 19%);
  --footer-text: hsl(236, 9%, 61%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --text: hsl(0, 0%, 90%);
  --task-input-background: hsl(236, 33%, 17%);
}

.header-background {
  width: 100vw;
  z-index: -1;
  height: 40vh;
}

body .header-background {
  background: url("/images/bg-desktop-light.jpg");
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5rem 5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

body.dark .header-background {
  background: url("/images/bg-desktop-dark.jpg");
  border-radius: 0 0 5rem 5rem;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
}

header .title-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

header .task-input {
  margin-top: 3rem;
  width: 100%;
}

body header #task-input {
  outline: none;
  border: 0;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  transition: 0.2s ease;
  background: var(--background);
  padding-left: 1rem;
  height: 3.1rem;
  font-size: 1.2rem;
  color: var(--text);
  font-weight: 500;
  transition: 0.2s ease;
}

header #task-input:focus {
  box-shadow: 0px 0px 7.5px rgba(0, 0, 0, 0.55);
}

header .title {
  font-weight: 700;
  color: white;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}

header #theme-toggler {
  border: 0;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease;
}

header #theme-toggler:hover {
  filter: brightness(0.9);
}

header #theme-toggler img {
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
}

main {
  width: 80vw;
  position: absolute;
  left: 50%;
  transition: 0.2s ease;
  top: 35%;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background: var(--background);
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  transform: translateX(-50%);
}

main .task-container {
  max-height: 275px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.5rem;
}

main .task-container .task:first-child {
  border-top: 0;
}

main .task-container .task:last-child {
  border-bottom: 0;
}

main .task-container::-webkit-scrollbar {
  width: 2px;
}

main .task-container::-webkit-scrollbar-thumb {
  background: var(--dark-grayish-blue);
}

main .tasks-footer {
  display: flex;
  border-top: 1px solid var(--text);
  align-items: center;
  padding-top: 1rem;
  justify-content: space-between;
}

main .tasks-footer .items-left {
  font-weight: 500;
  margin-left: 1rem;
  color: var(--dark-grayish-blue);
  text-align: center;
}

main .tasks-footer ul {
  list-style: none;
  display: flex;
}

main .tasks-footer ul li {
  margin: 0.25rem;
}

main .tasks-footer ul li a {
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  color: var(--dark-grayish-blue);
}

main .tasks-footer ul li a:hover {
  color: var(--text);
}

main .tasks-footer ul li a.active {
  cursor: auto;
  color: var(--bright-blue);
}

main .task-container {
  transition: 0.2s ease;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
  transition: 0.2s ease;
  background: var(--background);
  color: var(--text);
  cursor: grab;
  border-top: 1px solid var(--dark-grayish-blue);
}

.task:hover{
  filter: brightness(1.2);
}

.task:last-child {
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.task .left {
  display: flex;
  align-items: center;
}

.task .left p {
  margin-left: 1rem;
  font-weight: 500;
  text-overflow: ellipsis;
}

.task.completed p {
  text-decoration: line-through;
}

.task .task-complete {
  border: 1px solid var(--dark-grayish-blue);
  background: transparent;
  cursor: pointer;
  display: flex;
  transition: 0.2s ease;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  justify-content: center;
}

.task.completed .task-complete {
  border: 1px solid var(--dark-grayish-blue);
  border-radius: 50%;
  transition: 0.2s ease;
  background: var(--checked);
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.task .task-delete {
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.task .task-delete img {
  stroke: var(--text);
  color: var(--text);
}

body main #clear-completed {
  border: 0;
  font-weight: 500;
  cursor: pointer;
  margin-right: 1rem;
  background: transparent;
  font-size: 1rem;
  color: var(--dark-grayish-blue);
}

body.dark main #clear-completed {
  color: var(--dark-grayish-blue);
}

body main #clear-completed:hover {
  color: var(--text);
}

/* RESPONSIVITY */

@media only screen and (max-width: 375px) {
  body main .task-container {
    max-height: 350px;
  }

  body main .task {
    font-size: 0.9rem;
  }

  body main .task button img {
    width: 18px;
    height: 18px;
  }

  body main .tasks-footer,
  body main #clear-completed {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 320px) {
  header .title {
    font-size: 1.8rem;
  }

  body main .task {
    font-size: 0.8rem;
  }

  body main .tasks-footer,
  body main #clear-completed {
    font-size: 0.5rem;
  }
}
